
  <ion-header>
    <ion-toolbar>
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-title>
        @if (mode=='edit') {
          {{ 'PERSON.EDIT' | translate }}
        }
        @else {
          {{ 'PERSON.NEW' | translate }}
        }
      </ion-title>
      @if (isMobile) {
        <ion-buttons slot="end">
          <ion-button (click)="dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      }
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

      <!-- Nombre -->
      <ion-item>
        <ion-input [label]="'PERSON.NAME' | translate" label-placement="stacked"  type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
        <p *ngIf="name?.errors?.['required']">{{ 'PERSON.ERRORS.NAME_REQUIRED' | translate }}</p>
        <p *ngIf="name?.errors?.['minlength']">{{ 'PERSON.ERRORS.NAME_MIN_LENGTH' | translate }}</p>
      </ion-text>
  
      <!-- Apellidos -->
      <ion-item>
        <ion-input [label]="'PERSON.SURNAME' | translate" label-placement="stacked" type="text" formControlName="surname"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)">
        <p *ngIf="surname?.errors?.['required']">{{ 'PERSON.ERRORS.SURNAME_REQUIRED' | translate }}</p>
        <p *ngIf="surname?.errors?.['minlength']">{{ 'PERSON.ERRORS.SURNAME_MIN_LENGTH' | translate }}</p>
      </ion-text>
  
      <!-- Email -->
      <ion-item>
        <ion-input [label]="'PERSON.EMAIL' | translate" label-placement="stacked" type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <p *ngIf="email?.errors?.['required']">{{ 'PERSON.ERRORS.EMAIL_REQUIRED' | translate }}</p>
        <p *ngIf="email?.errors?.['email']">{{ 'PERSON.ERRORS.EMAIL_INVALID' | translate }}</p>
      </ion-text>

      <!-- Edad -->
      <ion-item>
        <ion-input [label]="'PERSON.AGE' | translate" label-placement="stacked" type="text" formControlName="age"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="age?.invalid">
        <p *ngIf="age?.errors?.['pattern']">La edad debe ser un número positivo</p>
      </ion-text>
      
      <!-- Género -->
      <ion-item>
        <ion-select [label]="'PERSON.GENDER' | translate" label-placement="stacked" formControlName="gender" [placeholder]="'PERSON.GENDER_PLACEHOLDER' | translate">
          <ion-select-option *ngFor="let gen of genders" [value]="gen">{{ gen }}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-text color="danger" *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)">
        <p *ngIf="gender?.errors?.['required']">El género es obligatorio.</p>
      </ion-text>
      <ion-item>
        <ion-label position="stacked">{{ 'PERSON.GROUP' | translate }}</ion-label>
        <app-group-selectable formControlName="groupId"></app-group-selectable>
      </ion-item>
      <!-- Botón de Envío -->
      <ion-button [disabled]="!formGroup.valid || !formGroup.dirty" expand="full" type="submit" >{{ 'PERSON.SUBMIT' | translate }}</ion-button>
    </form>

  </ion-content>